.overlay-build{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: 218%;
    background-color: rgb(0,  0, 0, 0.7);
}


.modal-build {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 2px;
}

.close-button{
    position: absolute;
    top: 10px;
    right: 18px;
    cursor: pointer;
    font-weight: 700;
    color: gray;
    font-size: 1.2rem;
}

.close-button:hover{
    color: black;
    transform: scale(1.1);
}


.model-content {
    margin-top: 40px;
    margin-left: 150px;
}

.modal-contant-heading{
    color: #00A4f7;
    font-size: 18px;
    font-weight: 550;
    margin-left: 180px;
    margin-bottom: 60px;
}

.modal-img{
    position: absolute;
    top: 60px;
    margin-left: 135px;
}


.modal-lable{
    display: block;
    color: #485e88;
    font-weight: 500;
    margin-bottom: 5px;
}

.modal-input{
    margin-bottom: 10px;
    display: block;
    width: 500px;
}

.modal-submit-button{
    border: none;
    border-radius: 10px;
    background-color: #4cc291;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    position: absolute;
    right: 150px;

}
