.specialization-section-container {
    background-color: #F6F1F1;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
}


.specialization-image{
    height: 150px;
    width: 200px;
    margin: 0 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}