.image-slider-container{
    height: 500px;
    width: 100%;
    margin: 0 auto;
}

.image-slider{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.image-slide{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.rightArrowStyle {
    height: 70px;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    font-size: 45px;
    cursor: pointer;
    color: black;
    z-index: 1;
    background: rgb(255, 255, 255, 0.6);
    border-radius: 50px;
        
}

.leftArrowStyle {
    height: 70px;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0, -60%);
    font-size: 45px;
    cursor: pointer;
    color: black;
    z-index: 1;
    background: rgb(255, 255, 255, 0.6);
    border-radius: 50px;
        
}

.dots-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%); 
    box-sizing: border-box;
    z-index: 1;
    

}


.dots{
    padding: 0 10px;
    color: rgb(255, 255, 255, 0.5);
    font-size: 40px;
    cursor: pointer;
}


.aciveDot{
    padding: 0 10px;
    color: #F6FFDE;
    font-size: 40px;
    cursor: pointer;
}



@keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


